* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* global style */
button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #67cccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #348080;
}

.disable {
  cursor: not-allowed;
}

/* styling login and register page */
.form-container {
  width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  height: max-content;
  min-height: 80vh;
}

.heading {
  text-align: center;
  margin: 20px 0;
}

#login-form {
  width: 400px;
  margin: 50px auto 0 auto;
}

.input {
  width: 100%;
  margin: 10px auto;
}

input,
select {
  width: 100%;
  padding: 13px 15px;
  background-color: #F5F6F8;
  border: none;
  border-radius: 5px;
}

select {
  width: 84%;
}

.button {
  margin: 0 auto;
}

.button button {
  width: 100%;
  padding: 10px 0px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  background-color: #1878F3;
  color: white;
  border: none;
}

.button button:hover {
  background-color: #1864c9;
}

.link {
  text-align: center;
  margin: 20px 0;
}

.link:hover {
  text-decoration: none;
}

.resend-otp {
  margin: 15px 0;
  text-align: center;
}

.resend {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

.resend:hover {
  color: black;
  text-decoration: none;
}

/* styling loading page */
.loading-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  margin: 8px;
  border: 4px solid #c5a5a5;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* styling home page */
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.main-page {
  position: relative;
  width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(219, 205, 205);
}

/* Styling user profile section start */
.main-page .user-profile {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #d9eceb;
  border-right: 1px solid rgb(219, 205, 205);
  border-bottom: 1px solid rgb(219, 205, 205);
}

.main-page .user-profile-details {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.main-page .user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 4px;
}

.main-page .icons {
  display: flex;
  align-items: center;
}

.main-page .icons i {
  font-size: 1.3rem;
  color: rgb(87, 107, 169);
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
}

.main-page .icons i:hover {
  background-color: #7dd6d8;
}

/* Styling user profile section end */

/* Styling list search section start */
.list-search {
  background-color: #d9eceb;
  padding: 10px 20px;
  position: relative;
  border-right: 1px solid rgb(219, 205, 205);
  border-bottom: 1px solid rgb(219, 205, 205);
}

.list-search input {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 8px;
  padding-left: 30px;
  background-color: #fff;
}

.list-search input:focus {
  padding-left: 30px;
}

.list-search i {
  position: absolute;
  top: 17px;
  left: 30px;
}

/* styling UserList component */
.user-list-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  border-right: 1px solid rgb(228, 225, 225);
  display: none;
  z-index: 2;
}

.close {
  background-color: #d9eceb;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.close .fa-circle-xmark {
  font-size: 25px;
  cursor: pointer;
}

.user-list {
  overflow: auto;
}

.user-list .user {
  padding: 5px 10px;
  display: flex;
  gap: 1rem;
  cursor: pointer;
  background-color: #f1f4f4;
  border-bottom: 1px solid rgb(228, 225, 225);
  align-items: center;
}

/* styling profile component */
.profile-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f1f4f4;
  border-right: 1px solid rgb(228, 225, 225);
  display: none;
  z-index: 2;
}

.profile-page .user-profile {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid rgb(228, 225, 225);
  height: max-content;
  background-color: #f1f4f4;
}

.profile-page .profile-pic {
  position: relative;
  cursor: pointer;
}

.profile-page .user-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-page .user-profile .edit-pen {
  font-size: 1.4rem;
  color: rgb(86, 86, 193);
  position: absolute;
  bottom: 0;
  right: 0;
}

.profile-page .user-profile .edit-pen:hover {
  color: rgb(4, 31, 141);
}

.edit-page,
.delete-page,
.profile-pic-update-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f1f4f4;
  border-right: 1px solid rgb(228, 225, 225);
  display: none;
  z-index: 3;
}

.edit-form {
  margin-top: 20px;
}

/* styling ChatList component */
.chat-list {
  /* height: calc(100% - (50px + 60px)); */
  /* flex: 1; */
  overflow: auto;
  height: 100%;
}

.list {
  display: flex;
  padding: 5px 10px;
  gap: .6rem;
  background-color: #f1f4f4;
  border-bottom: 1px solid rgb(228, 225, 225);
}

.chat-partner-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.list:hover {
  cursor: pointer;
  background-color: #bbd1d1;
}

.chat-list .list .details {
  flex: 1;
}

.list .details .first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-circle {
  color: rgb(28, 182, 28);
  font-size: 10px;
  padding: 2px;
  border-radius: 50%;
  background-color: rgb(108, 108, 108);
}

.list .details .date {
  font-size: 12px;
}

.list .details .second-line {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.list .details .second-line .message-info {
  font-size: 14px;
  display: flex;
  gap: 5px;
  overflow: hidden;
}

.list .details .second-line .fa-solid {
  font-size: 12px;
}

.unread-messages-count {
  height: 20px;
  min-width: 20px;
  max-width: 30px;
  font-size: 12px;
  padding: 1px 7px;
  padding: 1.5px 7px 1px 7px;
  background-color: rgb(12, 187, 91);
  border-radius: 50%;
}

.typing {
  color: rgb(45, 45, 219);
  font-size: 15px;
}

.empty-container {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.chat-list .msg-icon {
  font-size: 1.3rem;
  color: rgb(237, 237, 237);
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #288c56;
  box-shadow: 1px 1px 1px 1px #6fdea3;
}

/* styling ChatPage component */
.chat-page {
  height: 100%;
  width: 60vw;
}

/* Styling chat screen navigation start */
.navigation {
  background-color: #d9eceb;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 50px;
  /* position: sticky;
  top: 0;
  left: 0; */
  padding: 5px 10px;
  border-bottom: 1px solid rgb(228, 225, 225);
}

.go-back {
  cursor: pointer;
}

.navigation .chat-partner-info {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.last-seen {
  font-size: 12px;
}

/* Styling chat screen navigation end */

/* styling chat partner profile page */
.chat-partner-profile-page {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vw;
  min-height: 100vh;
  background-color: #f1f4f4;
  z-index: 1;
  display: none;
}

.chat-partner-profile-page .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.chat-partner-profile-page .profile-pic img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  border-radius: 50%;
}

.chat-partner-profile-page .profile .details {
  width: 100%;
  border-top: 1px solid rgb(228, 225, 225);
}

.chat-partner-profile-page .profile p {
  line-height: 35px;
  border-bottom: 1px solid rgb(228, 225, 225);
  padding-left: 35%;
}

.chat-partner-profile-page .profile .features {
  width: 100%;
  border-top: 1px solid rgb(228, 225, 225);
}

.chat-partner-profile-page .profile .features p {
  cursor: pointer;
}

.chat-partner-profile-page .profile .features>p {
  color: rgb(234, 31, 31);
}

.chat-partner-profile-page .profile .features p:hover {
  background-color: #bbd1d1;
}

/* styling chat partner profile end */

/* Styling chat screen send message start */
.send-message-section {
  background-color: #d9eceb;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 5px 30px;
  position: sticky;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.send-message-section .name-tag {
  border: 1px solid white;
  border-radius: 4px;
  padding: 2px 8px;
  color: #fff;
  background-color: #cd3d3d;
  cursor: pointer;
}

.send-message-section form {
  width: 100%;
  height: 100%;
  display: flex;
  gap: .6rem;
  align-items: center;
  justify-content: space-around;
}

.send-message-section .input-container {
  position: relative;
  width: 80%;
}

.send-message-section .input-container .emoji-field {
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-55%);
  cursor: pointer;
  font-size: 20px;
}

.send-message-section .input-container .input-field {
  min-width: 100%;
  height: 30px;
  border: none;
  border-radius: 8px;
  padding-left: 30px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid blue;
  border-color: #1b74e4;
  box-shadow: 0 0 0 2px #b8cde1;
}

.emoji-picker-container {
  position: absolute;
  bottom: 50px;
  left: 20px;
  height: 400px;
  width: 350px;
}

.send-message-section .send-button {
  font-size: 40px;
  color: blue;
  margin-top: -5px;
  cursor: pointer;
}

/* Styling chat screen send message end */

/* Styling messages section */
.messages-container {
  width: 100%;
  height: calc(100% - (50px + 50px));
  background-color: #e9edef;
  position: relative;
}

.messages {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 10px 0;
}

.messages .message {
  display: flex;
  gap: 5px;
  max-width: 80%;
  padding: 2px 8px 5px 8px;
  margin: 5px 0;
  position: relative;
}

.messages .first-message {
  /* overflow: auto; */
  padding-top: 1px;
}

.messages .show-date {
  width: fit-content;
  padding: 4px 10px;
  background-color: #f8f8f8;
  margin: 10px auto;
  border-radius: 8px;
  font-size: 14px;
}

.messages .sent {
  display: flex;
  padding: 0 20px;
  justify-content: flex-end;
}

.messages .sent .message {
  background-color: rgb(72, 141, 72);
  color: #fff;
  border-radius: 10px 0px 10px 10px;
}

.messages .received {
  display: flex;
  padding: 0 20px;
  justify-content: flex-start;
}

.messages .received .message {
  background-color: #fff;
  border-radius: 0px 10px 10px 10px;
}

.messages .message .info {
  font-size: 12px;
  color: rgb(180, 182, 179);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 6px;
  margin-bottom: -4px;
  margin-right: -3px;
}

.messages .received .deleted-message {
  color: rgb(133, 133, 133);
}

.messages .sent .deleted-message {
  color: rgb(230, 230, 230);
}

.popup-modal {
  position: absolute;
  top: 30px;
  background-color: #fffcfc;
  color: black;
  border: 1px solid grey;
  border-radius: 6px;
  z-index: 999;
  width: 250px;
  display: none;
}

.sent .message .popup-modal {
  right: 10px;
}

.received .message .popup-modal {
  left: 10px;
}

.popup-modal .first-row {
  border-bottom: 1px solid grey;
  padding: 5px;
}

.popup-modal .second-row {
  padding: 5px;
}

.popup-modal p {
  line-height: 30px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
}

.popup-modal p:hover {
  background-color: #eceff1;
  border-radius: 6px;
}

.popup-modal .icons {
  color: rgb(138, 138, 138);
}

.popup-modal .single-delete {
  color: rgb(232, 185, 31);
}

.popup-modal .all-delete {
  color: rgb(192, 59, 42);
}

.popup-modal .message-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  cursor: unset;
}

.popup-modal .message-info:hover {
  background-color: unset;
}

.popup-modal .message-info .time {
  font-size: 14px;
}

.edit-popup {
  width: 300px;
  height: max-content;
  padding: 15px 10px;
  background-color: #fffcfc;
  border: 1px solid grey;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: none;
}

.edit-popup input {
  background-color: rgb(228, 228, 228);
}

.delete-popup {
  width: 300px;
  height: max-content;
  padding: 15px 10px;
  background-color: #fffcfc;
  border: 1px solid grey;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: none;
}

.delete-popup .buttons {
  margin: 15px 10px 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-popup .buttons button {
  padding: 8px 40px;
  border-radius: 5px;
  background-color: rgb(11, 109, 11);
  color: white;
  border: none;
}

.delete-popup .buttons button:hover {
  background-color: rgb(16, 127, 16);
}

.delete-popup .buttons .delete {
  background-color: rgb(192, 59, 42);
}

.delete-popup .buttons .delete:hover {
  background-color: rgb(225, 71, 51);
}

/* .messages .message-time {
  font-size: 12px;
  color: rgb(180, 182, 179);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: -4px;
  margin-right: -3px;
  padding-left: 5px;
} */

/* making responsive */
@media screen and (max-width: 600px) {
  .form-container {
    width: 100%;
  }

  .heading {
    font-size: 25px;
  }

  #login-form {
    width: 90%;
  }

  select {
    width: 80%;
  }

  .app {
    display: block;
  }

  .main-page {
    width: 100%;
  }

  .chat-page {
    width: 100%;
    display: none;
  }

  .emoji-picker-container {
    left: 0;
    height: 350px;
    max-height: 80vh;
    width: 100vw;
  }

  .chat-partner-profile-page {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .main-page {
    width: 50vw;
  }

  .chat-page {
    width: 50vw;
  }

  .emoji-picker-container {
    width: 50vw;
    left: 0;
    height: 350px;
    max-height: 80vh;
  }

  .chat-partner-profile-page {
    width: 50vw;
  }
}