* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* global style */
button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #67cccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #348080;
}

.disable {
  cursor: not-allowed;
}

/* making responsive */
@media screen and (max-width: 600px) {
  .form-container {
    width: 100%;
  }

  .heading {
    font-size: 25px;
  }

  #login-form {
    width: 90%;
  }

  select {
    width: 80%;
  }

  .app {
    display: block;
  }

  .main-page {
    width: 100%;
  }

  .list-search input {
    padding: 20px 5px 20px 35px;
  }

  .list-search i {
    top: 22px;
  }

  .chat-list .list .details {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .chat-page {
    width: 100%;
    display: none;
  }

  .messages .first-message .show-date {
    padding: 4px 8px 6px 8px;
  }

  .messages .message {
    padding: 4px 8px 6px 8px;
    margin: 2px 0;
  }

  .messages .sent {
    padding: 0 10px;
  }

  .messages .received {
    padding: 0 10px;
  }

  .send-message-section {
    gap: 0.7rem;
    padding: 0 10px;
  }

  .send-message-section .input-container {
    width: 100%;
  }

  .emoji-picker-container {
    left: 0;
    height: 350px;
    max-height: 80vh;
    width: 100vw;
  }

  .chat-partner-profile-page {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .main-page {
    width: 50vw;
  }

  .chat-page {
    width: 50vw;
  }

  .emoji-picker-container {
    width: 50vw;
    left: 0;
    height: 350px;
    max-height: 80vh;
  }

  .chat-partner-profile-page {
    width: 50vw;
  }
}